.scroll-container
{
  width: 100%;
  height: calc(100vh - 60px);
  //min-height: 100%;
  overflow: auto;
  //display: grid;
  //grid-template-rows: 60px auto 1fr;
}
.about-container
{
  width: 75%;
  height: 500px;
  margin: 10px auto 10px;
  background-color: transparent;
  //font-size: 40px;
}
clr-tree-node
{
  color: #000000;
}
.textHelp
{
  border: 2px solid black;
  display: none;
}
.test-btn:hover + .textHelp
{
  display: block;
}
