$textColor: #000000;
$alternateColor :#314351;
$darkSiteColor: #222d36;
$backgroundColor: #dddddd;
$globalBackgroundColor: #edeef0;
$headerColor: #037a00;
.scroll-container
{
  width: 100%;
  height: calc(100vh - 60px);
  overflow: auto;
  padding: 20px 0;
  background-image: url('/assets/images/background.jpg');
}
.about-container
{
  width: 1200px;
  margin: 0 auto 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
  .siteLogo
  {
    text-align: center;
    font-size: 48px;
    line-height: 52px;
  }
  .aboutInfo
  {
    padding: 20px;
  }
  ::ng-deep .aboutInfo > p
  {
    color: $textColor;
    font-size: 16px;
  }
  ::ng-deep .aboutInfo > h1, h2, h3, h4, h5, h6
  {
    text-align: center;
    color: $headerColor;
  }
}
clr-tree-node
{
  color: #000000;
}
.textHelp
{
  border: 2px solid black;
  display: none;
}
.test-btn:hover + .textHelp
{
  display: block;
}
@media screen and (max-width: 1220px)
{
  .about-container
  {
    width: 1000px;
  }
}
@media screen and (max-width: 1020px)
{
  .about-container
  {
    width: 800px;
  }
}
@media screen and (max-width: 820px)
{
  .about-container
  {
    width: 100%;
  }
}
