<div class="about-container">
  About

  <!--<clr-tree-node class="title1" [clrExpanded]="true">-->
    <!--David Wallace (CFO)-->
    <!--<clr-tree-node class="title2" [clrExpanded]="true">-->
      <!--Michael Scott (Regional Manager)-->

      <clr-tree-node class="title3">Dwight K. Schrute (Assistant to the Regional Manager)</clr-tree-node>

      <clr-tree-node class="title3">
        Jim Halpert (Head of Sales)
        <clr-tree-node class="title4">Andy Bernard</clr-tree-node>
        <clr-tree-node class="title4">Stanley Hudson</clr-tree-node>
        <clr-tree-node class="title4">Phyllis Vance</clr-tree-node>
        <clr-tree-node class="title4">Todd Packer</clr-tree-node>
      </clr-tree-node>

      <clr-tree-node class="title3">
        Angela Martin (Head of Accounting)
        <clr-tree-node class="title4">Kevin Malone</clr-tree-node>
        <clr-tree-node class="title4">Oscar Martinez</clr-tree-node>
      </clr-tree-node>

      <clr-tree-node class="title3">
        Kelly Kapoor (Head of Customer Service)
        <clr-tree-node class="title4">Ryan Howard (Temp)</clr-tree-node>
        <clr-tree-node class="title4">Andy Bernard</clr-tree-node>
        <clr-tree-node class="title4">Stanley Hudson</clr-tree-node>
        <clr-tree-node class="title4">Phyllis Vance</clr-tree-node>
        <clr-tree-node class="title4">Todd Packer</clr-tree-node>
      </clr-tree-node>

      <clr-tree-node class="title3">
        Creed Bratton (Quality Assurance)
        <clr-tree-node class="title4">Kevin Malone</clr-tree-node>
        <clr-tree-node class="title4">Oscar Martinez</clr-tree-node>
      </clr-tree-node>

      <clr-tree-node class="title3">
        Meredith Palmer (Supplier Relations)
        <clr-tree-node class="title4">Ryan Howard (Temp)</clr-tree-node>
        <clr-tree-node class="title4">Andy Bernard</clr-tree-node>
        <clr-tree-node class="title4">Stanley Hudson</clr-tree-node>
        <clr-tree-node class="title4">Phyllis Vance</clr-tree-node>
        <clr-tree-node class="title4">Todd Packer</clr-tree-node>
      </clr-tree-node>

      <clr-tree-node class="title3">
        Toby Flenderson (Human Resources)
        <clr-tree-node class="title4">Kevin Malone</clr-tree-node>
        <clr-tree-node class="title4">Oscar Martinez</clr-tree-node>
      </clr-tree-node>

      <clr-tree-node class="title3">
        Pam Beesly (Reception)
        <clr-tree-node class="title4">Andy Bernard</clr-tree-node>
        <clr-tree-node class="title4">Stanley Hudson</clr-tree-node>
        <clr-tree-node class="title4">Phyllis Vance</clr-tree-node>
        <clr-tree-node class="title4">Todd Packer</clr-tree-node>
      </clr-tree-node>

      <clr-tree-node class="title3">
        Darryl Philbin (Warehouse)
        <clr-tree-node class="title4">Andy Bernard</clr-tree-node>
        <clr-tree-node class="title4">Stanley Hudson</clr-tree-node>
        <clr-tree-node class="title4">Phyllis Vance</clr-tree-node>
        <clr-tree-node class="title4">Todd Packer</clr-tree-node>
      </clr-tree-node>
    <!--</clr-tree-node>-->
  <!--</clr-tree-node>-->
</div>
