<div class="about-container">
  About

      <clr-tree-node class="title3">
        Jim Halpert (Head of Sales) title3
        <clr-tree-node class="title4">
          Andy Bernard title4
          <clr-tree-node class="title5">
            Stanley Hudson title5
            <clr-tree-node class="title6">Stanley Hudson</clr-tree-node>
            <clr-tree-node class="title6">Phyllis Vance</clr-tree-node>
            <clr-tree-node class="title6">Todd Packer</clr-tree-node>
          </clr-tree-node>
          <clr-tree-node class="title5">Phyllis Vance</clr-tree-node>
          <clr-tree-node class="title5">Todd Packer</clr-tree-node>
        </clr-tree-node>
        <clr-tree-node class="title4">
          Stanley Hudson
          <clr-tree-node class="title5">
            Stanley Hudson
            <clr-tree-node class="title6">Stanley Hudson</clr-tree-node>
            <clr-tree-node class="title6">Phyllis Vance</clr-tree-node>
            <clr-tree-node class="title6">Todd Packer</clr-tree-node>
          </clr-tree-node>
        </clr-tree-node>
        <clr-tree-node class="title4">Phyllis Vance</clr-tree-node>
        <clr-tree-node class="title4">Todd Packer</clr-tree-node>
      </clr-tree-node>

  <clr-tree-node class="title3">
    Jim Halpert (Head of Sales)
    <clr-tree-node class="title4">
      Andy Bernard
      <clr-tree-node class="title5">
        Stanley Hudson
        <clr-tree-node class="title6">Stanley Hudson</clr-tree-node>
        <clr-tree-node class="title6">Phyllis Vance</clr-tree-node>
        <clr-tree-node class="title6">Todd Packer</clr-tree-node>
      </clr-tree-node>
      <clr-tree-node class="title5">Phyllis Vance</clr-tree-node>
      <clr-tree-node class="title5">Todd Packer</clr-tree-node>
    </clr-tree-node>
    <clr-tree-node class="title4">Stanley Hudson</clr-tree-node>
    <clr-tree-node class="title4">Phyllis Vance</clr-tree-node>
    <clr-tree-node class="title4">Todd Packer</clr-tree-node>
  </clr-tree-node>

      <!--<clr-tree-node class="title3">-->
        <!--Angela Martin (Head of Accounting)-->
        <!--<clr-tree-node class="title4">Kevin Malone</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Oscar Martinez</clr-tree-node>-->
      <!--</clr-tree-node>-->

      <!--<clr-tree-node class="title3">-->
        <!--Kelly Kapoor (Head of Customer Service)-->
        <!--<clr-tree-node class="title4">Ryan Howard (Temp)</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Andy Bernard</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Stanley Hudson</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Phyllis Vance</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Todd Packer</clr-tree-node>-->
      <!--</clr-tree-node>-->

      <!--<clr-tree-node class="title3">-->
        <!--Darryl Philbin (Warehouse)-->
        <!--<clr-tree-node class="title4">Andy Bernard</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Stanley Hudson</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Phyllis Vance</clr-tree-node>-->
        <!--<clr-tree-node class="title4">Todd Packer</clr-tree-node>-->
      <!--</clr-tree-node>-->

</div>
