$textColor: #000000;
$alternateColor :#314351;
$darkSiteColor: #222d36;
$backgroundColor: #dddddd;
$globalBackgroundColor: #edeef0;
$headerColor: #037a00;

.scroll-container {
  //padding: 20px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.scroll-container-image1
{
  background-image: url('/assets/images/background.jpg');
}
.scroll-container-image2
{
  background-image: url('/assets/images/homepageImg.jpg');
}
.homePage-box
{
  width: 100%;
}
.homePage-item
{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.homePage-overall
{
  height: calc(100vh - 60px);
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
  .overall-text
  {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .75);
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: $darkSiteColor;
    padding: 25px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
  }
}
.homePage-news
{
  height: 105vh;
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  .news-text
  {
    padding: 20px 150px 0;
    font-size: 56px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    color: $darkSiteColor;
  }
  .news-link
  {
    padding: 10px;
    border-top: 3px solid $headerColor;
    border-left: 3px solid $headerColor;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
    a
    {
      background-color: $darkSiteColor;
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      padding: 15px 85px;
      border: 2px solid transparent;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all ease-in-out .2s;
      -moz-transition: all ease-in-out .2s;
      -ms-transition: all ease-in-out .2s;
      -o-transition: all ease-in-out .2s;
      transition: all ease-in-out .2s;
    }
    a:hover
    {
      background-color: #ffffff;
      border-color: $darkSiteColor;
      color: $darkSiteColor;
    }
  }
  .news-items
  {
    background-color: $darkSiteColor;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px;
    .one-article
    {
      width: 16.66666%;
      margin: 0 10px;
      border: 2px solid #ffffff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all ease-in-out .2s;
      -moz-transition: all ease-in-out .2s;
      -ms-transition: all ease-in-out .2s;
      -o-transition: all ease-in-out .2s;
      transition: all ease-in-out .2s;
      .news-items-icon
      {
        color: #ffffff;
      }
      .news-items-title
      {
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        color: #ffffff;
      }
    }
    .one-article:hover
    {
      text-decoration: none;
      border-color: transparent;
    }
  }
}
.homePage-products
{
  height: 105vh;
  background-color: $darkSiteColor;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  .products-text
  {
    padding: 20px 150px 0;
    font-size: 56px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
  }
  .products-link
  {
    padding: 10px;
    border-top: 3px solid $headerColor;
    border-left: 3px solid $headerColor;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
    a
    {
      background-color: #ffffff;
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: $darkSiteColor;
      padding: 15px 70px;
      border: 2px solid transparent;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all ease-in-out .2s;
      -moz-transition: all ease-in-out .2s;
      -ms-transition: all ease-in-out .2s;
      -o-transition: all ease-in-out .2s;
      transition: all ease-in-out .2s;
    }
    a:hover
    {
      background-color: $darkSiteColor;
      border-color: #ffffff;
      color: #ffffff;
    }
  }
  .products-items
  {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px 200px;
    .one-product
    {
      width: 20%;
      margin: 0 10px;
      border: 2px solid $darkSiteColor;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all ease-in-out .2s;
      -moz-transition: all ease-in-out .2s;
      -ms-transition: all ease-in-out .2s;
      -o-transition: all ease-in-out .2s;
      transition: all ease-in-out .2s;
      .products-items-icon
      {
        color: $darkSiteColor;
        padding-top: 10px;
      }
      .products-items-title
      {
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        color: $darkSiteColor;
      }
    }
    .one-product:hover
    {
      text-decoration: none;
      border-color: transparent;
    }
  }
}
.homePage-about
{
  height: calc(100vh - 60px);
  .about-text
  {
    padding: 20px;
    font-size: 48px;
    line-height: 52px;
    color: #ffffff;
  }
}
