$textColor: #000000;
$alternateColor :#314351;
$darkSiteColor: #222d36;
$backgroundColor: #dddddd;
$globalBackgroundColor: #edeef0;
$headerColor: #037a00;
.hiddenBox
{
  .homePage-ghost-text
  {
    width: 40%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .5) 45%, rgba(255, 255, 255, .5) 55%, rgba(255, 255, 255, .5) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .5) 45%, rgba(255, 255, 255, .5) 55%, rgba(255, 255, 255, .5) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .5) 45%, rgba(255, 255, 255, .5) 55%, rgba(255, 255, 255, .5) 100%);
  }
}
.hiddenBoxShow
{
  display: block;
  //background-color: red;
  height: 75px;
}
.hiddenBoxHide
{
  display: none;
  //background-color: #037a00;
  height: 75px;
}
.up-arrow,
.down-arrow
{
  background-color: rgba(255, 255, 255, 1);
  color: $textColor;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.up-arrow:hover,
.down-arrow:hover
{
  background-color: rgba(255, 255, 255, .5);
}
.scroll-container
{
  //padding: 20px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url('/assets/images/background.jpg');
  .home-about,
  .home-news,
  .home-products
  {
    width: 100%;
    height: calc(100vh - 60px);
  }
  .home-about
  {
    display: flex;
    align-items: center;
    position: relative;
    .homePage-about-text
    {

    }
    .down-arrow
    {
      position: absolute;
      bottom: 50%;
      right: 10px;
    }
  }
  .home-news
  {
    display: flex;
    align-items: center;
    position: relative;
    .homePage-news-text
    {

    }
    .homePage-news-container
    {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      padding: 0 50px;
      .homePageOneArticle
      {
        width: calc(50% - 20px);
        margin: 10px;
        padding: 50px 10px;
        background-color: rgba(255, 255, 255, .5);
        -webkit-transition: all ease-in-out .4s;
        -moz-transition: all ease-in-out .4s;
        -ms-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
        border: 3px solid transparent;
        display: flex;
        justify-content: center;
        position: relative;
        .homePage-article-title
        {
          display: flex;
          align-items: center;
          color: $textColor;
          font-weight: bold;
          font-size: 18px;
          padding-left: 10px;
          .homePage-article-icon
          {
            position: absolute;
            top: 3px;
            left: 5px;
            display: inline-block;
          }
        }
      }
      .homePageOneArticle:hover
      {
        background-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 3px solid $alternateColor;
        -webkit-transition: all ease-in-out .4s;
        -moz-transition: all ease-in-out .4s;
        -ms-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
        text-decoration: none;
      }
    }
    .up-arrow
    {
      position: absolute;
      top: 40%;
      right: 10px;
    }
    .down-arrow
    {
      position: absolute;
      bottom: 40%;
      right: 10px;
    }
  }
  .home-products
  {
    display: flex;
    align-items: center;
    position: relative;
    .homePage-products-text
    {

    }
    .homePage-products-container
    {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      padding: 0 50px;
      .homePageOneProduct
      {
        width: calc(50% - 20px);
        margin: 10px;
        padding: 50px 10px;
        background-color: rgba(255, 255, 255, .5);
        -webkit-transition: all ease-in-out .4s;
        -moz-transition: all ease-in-out .4s;
        -ms-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
        border: 3px solid transparent;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
        display: flex;
        justify-content: center;
        position: relative;
        .homePage-product-title
        {
          display: flex;
          align-items: center;
          color: $textColor;
          font-weight: bold;
          font-size: 18px;
          padding-left: 10px;
          .homePage-product-icon
          {
            position: absolute;
            top: 3px;
            left: 5px;
            display: inline-block;
          }
        }
      }
      .homePageOneProduct:hover
      {
        background-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 3px solid $alternateColor;
        -webkit-transition: all ease-in-out .4s;
        -moz-transition: all ease-in-out .4s;
        -ms-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
        text-decoration: none;
      }
    }
    .up-arrow
    {
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }

}
.homePage-text
{
  width: 40%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  //border-right: 3px solid rgba(0, 0, 0, .7);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  color: $textColor;
}
.homePage-item
{
  width: 60%;
  height: 100%;
  //background-color: #fac400;
}
@media screen and (max-width: 1000px)
{
  .homePage-text
  {
    width: 40%;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    color: $textColor;
  }
}
@media screen and (max-width: 900px)
{
  .up-arrow,
  .down-arrow
  {
    display: none;
  }
}
@media screen and (max-width: 700px)
{
  .scroll-container
  {
    .hiddenBox
    {
      .homePage-ghost-text
      {
        display: none;
      }
    }
    .homePage-text
    {
      display: none;
    }
    .homePage-item
    {
      width: 100%;
    }
    .home-news
    {
      .homePage-news-container
      {
        .homePageOneArticle
        {
          width: calc(50% - 20px);
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    .home-products
    {
      .homePage-products-container
      {
        .homePageOneProduct
        {
          width: calc(50% - 20px);
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }
}
@media screen and (max-width: 650px)
{
  .homePage-item
  {
    height: 100%;
  }
}
@media screen and (max-width: 500px)
{
  .up-arrow,
  .down-arrow
  {
    display: none;
  }
  .scroll-container
  {
    .home-news
    {
      .homePage-news-container
      {
        padding: 0;
        .homePageOneArticle
        {
          font-size: 12px;
          font-weight: normal;
          padding: 10px 10px;
          .homePage-article-title
          {
            .homePage-article-icon
            {
              display: none;
            }
          }
        }
      }
    }
    .home-products
    {
      .homePage-products-container
      {
        padding: 0;
        .homePageOneProduct
        {
          font-size: 12px;
          font-weight: normal;
          padding: 10px 10px;
          .homePage-product-title
          {
            .homePage-product-icon
            {
              display: none;
            }
          }
        }
      }
    }
  }
  .homePage-item
  {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-height: 500px)
{
  .scroll-container
  {
    .home-news
    {
      .homePage-news-container
      {
        .homePageOneArticle
        {
          width: calc(33.33333% - 20px);
          padding: 5px;
          .homePage-article-title
          {
            font-size: 14px;
            .homePage-article-icon
            {
              display: none;
            }
          }
        }
      }
    }
    .home-products
    {
      .homePage-products-container
      {
        .homePageOneProduct
        {
          width: calc(33.33333% - 20px);
          padding: 5px;
          .homePage-product-title
          {
            font-size: 14px;
            .homePage-product-icon
            {
              display: none;
            }
          }
        }
      }
    }
  }
}
