<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="products#product-item1">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="products#product-item2">Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="products#product-item3">Cloud</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="products#product-item4">Tenants</a>
    </li>
  </ul>
</nav>
<div class="products-container">
  <div class="product-item product-item-1" id="product-item1">
    Something11<br>
    Something12<br>
    Something13<br>
    Something14<br>
    Something15<br>
  </div>
  <div class="product-item product-item-2" id="product-item2">
    Something2
  </div>
  <div class="product-item product-item-3" id="product-item3">
    Something3
  </div>
  <div class="product-item product-item-4" id="product-item4">
    Something4
  </div>
</div>
