$warningColor: #fac400;
$alertColor: #f8b7b6;
$globalBackgroundColor: #edeef0;
.scroll-container
{
  width: 100%;
  height: calc(100vh - 60px);
  overflow: auto;
  background-color: $globalBackgroundColor;
}
.admin-tools
{
  text-align: right;
  .admin-delete,
  .admin-ban,
  .admin-message
  {
    margin-left: 15px;
    cursor: pointer;
  }
  .admin-modify
  {
    margin-left: 5px;
    cursor: pointer;
  }
  clr-icon:hover
  {
    color: #0079b8;
  }
}

.selected-user
{
  color: $warningColor;
  font-weight: bold;
}
.clr-input
{
  width: 99%;
}
.wrongDataMessage
{
  visibility: hidden;
}
.newsTitle
{
  font-weight: bold;
}
.add-item-btn
{
  margin: 12px 0 0 12px;
}
.inactiveUser
{
  background-color: $alertColor;
  //color: #ffffff;
}
.user-data-field,
.news-data-field,
.product-data-field
{
  margin-bottom: 20px;
}
.colorTest
{
  width: 100px;
  height: 100px;
}
.overall-info
{
  width: 100%;
  background-color: #0079b8;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.overall-item
{
  width: 33.33333%;
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.overall-users
{
  background-color: #f8b7b6;
}
.overall-news
{
  background-color: #dddddd;
}
.overall-products
{
  background-color: #888888;
}
