<div class="scroll-container">
  <!--Success alert-->
  <clr-alert [clrAlertType]="'success'" [hidden]="!isSuccess">
    <clr-alert-item>
          <span class="alert-text">
              {{ 'CHANGES_HAVE_BEEN_SAVED' | translate }}
          </span>
    </clr-alert-item>
  </clr-alert>

  <!--Error alert-->
  <clr-alert [clrAlertType]="'danger'" [hidden]="!isError">
    <clr-alert-item>
          <span class="alert-text">
              {{ 'CHANGES_ERROR' | translate }}
          </span>
    </clr-alert-item>
  </clr-alert>

  <!--Tabs with information-->
  <clr-tabs>

    <!--Tab with user information-->
    <clr-tab>
      <button clrTabLink id="users">{{ 'USERS' | translate }}</button>
      <clr-tab-content *clrIfActive="false">
        <!--<button type="button" class="btn btn-outline add-item-btn" (click)="editUserForm.reset(); addUser();">-->
          <!--{{ 'ADD_USER' | translate }}-->
        <!--</button>-->

        <!--Table with all users-->
        <clr-datagrid [clrDgLoading]="loading">

          <!--Table header-->
          <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">
              {{ 'AVATAR' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'userName'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'FIRST_NAME' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'lastName'" [clrDgSortOrder]="ascSort">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'LAST_NAME' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'ROLE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'isActive'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'IS_ACTIVE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'country'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'COUNTRY' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'city'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'CITY' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'dateOfBirth'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'DATE_OF_BIRTH' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'gender'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'GENDER' | translate }}
            </ng-container>
          </clr-dg-column>

          <!--Table data-->
          <clr-dg-row *clrDgItems="let user of users" [ngClass]="{'inactiveUser': user.isActive === 0}">
            <clr-dg-action-overflow class="user-tools admin-tools">
              <clr-icon shape="pencil" title="{{ 'MODIFY_USER' | translate }}" class="admin-modify-user admin-modify"
                        (click)="showUser = true; editUser(user)"></clr-icon>
              <clr-icon shape="envelope" title="{{ 'SEND_MESSAGE_FOR_USER' | translate }}" class="admin-message-user admin-message"
                        (click)="showMailWindow = true; editUser(user)"></clr-icon>
              <clr-icon shape="ban" title="{{ 'BAN_USER' | translate }}" class="admin-ban-user admin-ban"
                        (click)="editUser(user); banOneUser();"></clr-icon>
              <!--<clr-icon shape="trash" title="{{ 'DELETE_USER' | translate }}" class="admin-delete-user admin-delete"-->
                        <!--(click)="showDeleteDialog('user'); editUser(user);"></clr-icon>-->
            </clr-dg-action-overflow>
            <clr-dg-cell>{{user.avatar}}</clr-dg-cell>
            <clr-dg-cell>{{user.userName}}</clr-dg-cell>
            <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
            <clr-dg-cell>
              <ng-container *ngFor="let role of user.roles">{{role.role}}</ng-container>
            </clr-dg-cell>
            <clr-dg-cell>{{user.isActive}}</clr-dg-cell>
            <clr-dg-cell>{{user.country}}</clr-dg-cell>
            <clr-dg-cell>{{user.city}}</clr-dg-cell>
            <clr-dg-cell>{{user.dateOfBirth | date: 'longDate'}}</clr-dg-cell>
            <clr-dg-cell>{{user.gender}}</clr-dg-cell>
          </clr-dg-row>

          <!--Table footer-->
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="20">
              <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">{{ 'USERS_PER_PAGE' | translate }}</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              {{ 'OF' | translate }} {{pagination.totalItems}} {{ 'USERS' | translate }}
            </clr-dg-pagination>
          </clr-dg-footer>

        </clr-datagrid>

      </clr-tab-content>
    </clr-tab>

    <!--Tab with news information-->
    <clr-tab>
      <button clrTabLink>{{ 'NEWS' | translate }}</button>
      <clr-tab-content *clrIfActive="false">
        <button type="button" class="btn btn-outline add-item-btn" (click)="editArticleForm.reset(); createArticle();">
          {{ 'ADD_ARTICLE' | translate }}
        </button>

        <!--Table with all news-->
        <clr-datagrid [clrDgLoading]="loading">

          <!--Table header-->
          <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">
              {{ 'IMAGE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'newsTitle'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'NEWS_TITLE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'newsSubText'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'ANNOTATION' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'newsSource'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'SOURCE_AUTHOR' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'newsDate'" [clrDgSortOrder]="ascSort">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'DATE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'newsModificationDate'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'MODIFICATION_DATE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'language'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'LANGUAGE' | translate }}
            </ng-container>
          </clr-dg-column>

          <!--Table data-->
          <clr-dg-row *clrDgItems="let article of news">
            <clr-dg-action-overflow class="user-tools admin-tools">
              <clr-icon shape="pencil" title="{{ 'MODIFY_ARTICLE' | translate }}" class="admin-modify-user admin-modify"
                        (click)="showArticle = true; editArticle(article);"></clr-icon>
              <clr-icon shape="trash" title="{{ 'DELETE_ARTICLE' | translate }}" class="admin-delete-user admin-delete"
                        (click)="showDeleteDialog('article'); editArticle(article);"></clr-icon>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{article.newsImage}}</clr-dg-cell>
            <clr-dg-cell class="newsTitle">{{article.newsTitle}}</clr-dg-cell>
            <clr-dg-cell>{{article.newsSubText}}</clr-dg-cell>
            <clr-dg-cell>{{article.newsSource}}</clr-dg-cell>
            <clr-dg-cell>{{article.newsDate | date: 'long'}}</clr-dg-cell>
            <clr-dg-cell>{{article.newsModificationDate | date: 'long'}}</clr-dg-cell>
            <clr-dg-cell>{{article.language}}</clr-dg-cell>
            <clr-dg-row-detail *clrIfExpanded>
              {{article.newsText | safeHTML}}
            </clr-dg-row-detail>
          </clr-dg-row>

          <!--Table footer-->
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">{{ 'NEWS_PER_PAGE' | translate }}</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              {{ 'OF' | translate }} {{pagination.totalItems}} {{ 'NEWS' | translate }}
            </clr-dg-pagination>
          </clr-dg-footer>

        </clr-datagrid>

      </clr-tab-content>
    </clr-tab>

    <!--Tab with products information-->
    <clr-tab>
      <button clrTabLink id="products">{{ 'PRODUCTS' | translate }}</button>
      <clr-tab-content *clrIfActive="false">
        <button type="button" class="btn btn-outline add-item-btn" (click)="editProductForm.reset(); createProduct();">
          {{ 'ADD_PRODUCT' | translate }}
        </button>

        <!--Table with all products-->
        <clr-datagrid [clrDgLoading]="loading">

          <!--Table header-->
          <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">
              {{ 'IMAGE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'productName'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'PRODUCT_NAME' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'productType'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'TYPE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'price'" [clrDgSortOrder]="ascSort">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'PRICE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'productDate'" [clrDgSortOrder]="ascSort">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'DATE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'productModificationDate'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'MODIFICATION_DATE' | translate }}
            </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'language'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'LANGUAGE' | translate }}
            </ng-container>
          </clr-dg-column>

          <!--Table data-->
          <clr-dg-row *clrDgItems="let product of products">
            <clr-dg-action-overflow class="user-tools admin-tools">
              <clr-icon shape="pencil" title="{{ 'MODIFY_PRODUCT' | translate }}" class="admin-modify-user admin-modify"
                        (click)="showProducts = true; editProduct(product);"></clr-icon>
              <clr-icon shape="trash" title="{{ 'DELETE_PRODUCT' | translate }}" class="admin-delete-user admin-delete"
                        (click)="showDeleteDialog('product'); editProduct(product);"></clr-icon>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{product.image}}</clr-dg-cell>
            <clr-dg-cell class="newsTitle">{{product.productName}}</clr-dg-cell>
            <clr-dg-cell>{{product.productType}}</clr-dg-cell>
            <clr-dg-cell>{{product.price}}</clr-dg-cell>
            <clr-dg-cell>{{product.productDate | date: 'long'}}</clr-dg-cell>
            <clr-dg-cell>{{product.productModificationDate | date: 'long'}}</clr-dg-cell>
            <clr-dg-cell>{{product.language}}</clr-dg-cell>
            <clr-dg-row-detail *clrIfExpanded>
              {{product.description | safeHTML}}
            </clr-dg-row-detail>
          </clr-dg-row>

          <!--Table footer-->
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">{{ 'PRODUCTS_PER_PAGE' | translate }}</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              {{ 'OF' | translate }} {{pagination.totalItems}} {{ 'PRODUCTS' | translate }}
            </clr-dg-pagination>
          </clr-dg-footer>

        </clr-datagrid>

      </clr-tab-content>
    </clr-tab>

    <!--Tab with contact information-->
    <clr-tab>
      <button clrTabLink id="products">{{ 'ABOUT' | translate }}</button>
      <clr-tab-content *clrIfActive="false">

        <!--Table-->
        <clr-datagrid [clrDgLoading]="loading">

          <!--Table header-->
          <clr-dg-column [clrDgField]="'contactInfo'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              {{ 'ABOUT' | translate }}
            </ng-container>
          </clr-dg-column>

          <!--Table data-->
          <clr-dg-row *clrDgItems="let information of aboutArr">
            <clr-dg-action-overflow class="user-tools admin-tools">
              <clr-icon shape="pencil" title="{{ 'MODIFY_CONTACT_INFORMATION' | translate }}" class="admin-modify-user admin-modify"
                        (click)="showInfo = true; editInfo(information);"></clr-icon>
            </clr-dg-action-overflow>
            <clr-dg-cell class="newsTitle">{{information.contactInfo}}</clr-dg-cell>
          </clr-dg-row>

        </clr-datagrid>

      </clr-tab-content>

    </clr-tab>

  </clr-tabs>

  <!--Modal window with confirmation of deletion selected user, article or product-->
  <clr-modal [(clrModalOpen)]="showDeleteUserConfirmation" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{ 'DELETE_HELP' | translate }}
      <span *ngIf="dataBaseKey === 'user'">{{ 'SELECTED_USER' | translate }}</span>
      <span *ngIf="dataBaseKey === 'article'">{{ 'SELECTED_ARTICLE' | translate }}</span>
      <span *ngIf="dataBaseKey === 'product'">{{ 'SELECTED_PRODUCT' | translate }}</span>
    </h3>
    <div class="modal-body">
      <p>
        <clr-icon shape="exclamation-triangle" size="72" class="is-warning"></clr-icon>
        {{ 'DELETE_QUESTION' | translate }}
        <span class="selected-user"
              *ngIf="dataBaseKey === 'user'">{{selectedUser.userName}} {{selectedUser.lastName}}'s </span>
        <span *ngIf="dataBaseKey === 'user'">{{ 'ACCOUNT_' | translate }}</span>
        <span class="selected-user" *ngIf="dataBaseKey === 'article'">{{selectedArticle.newsTitle}} </span>
        <span *ngIf="dataBaseKey === 'article'">{{ 'NEWS_RECORD' | translate }}</span>
        <span class="selected-user" *ngIf="dataBaseKey === 'product'">{{selectedProduct.productName}} {{ 'PRODUCT_' | translate }}</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="hideDeleteDialog();">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" *ngIf="dataBaseKey === 'user'"
              (click)="hideDeleteDialog();  deleteOneUser();">{{ 'YES_DELETE' | translate }}
      </button>
      <button type="button" class="btn btn-primary" *ngIf="dataBaseKey === 'article'"
              (click)="hideDeleteDialog();  deleteOneArticle();">{{ 'YES_DELETE' | translate }}
      </button>
      <button type="button" class="btn btn-primary" *ngIf="dataBaseKey === 'product'"
              (click)="hideDeleteDialog();  deleteOneProduct();">{{ 'YES_DELETE' | translate }}
      </button>
    </div>
  </clr-modal>

  <!--Modal window for letter sending-->
  <clr-modal [(clrModalOpen)]="showMailWindow" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title send-email-title">
      {{ 'EMAIL_FOR' | translate }} {{selectedUser.userName}} {{selectedUser.lastName}}<br>
      <clr-icon shape="envelope" size="28" class="is-highlight send-email-envelope"></clr-icon>
    </h3>
    <div class="modal-body">
      <form class="clr-form">
        <div class="clr-form-control">
          <label for="user-email" class="mail-to clr-control-label clr-col-12 clr-col-md-2">{{ 'MAIL_TO' | translate }} *</label>
          <div class="mail-to clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="mailTo.invalid && mailTo.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="user-email" placeholder="{{ 'MAIL_TO' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="mail.mailTo" #mailTo="ngModel" name="mailTo" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="mailTo.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="mailTo.valid" [hidden]="mailTo.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <label for="email-subject" class="clr-control-label clr-col-12 clr-col-md-12">{{ 'MAIL_SUBJECT' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-12"
               [class.clr-error]="mailSubject.invalid && mailSubject.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="email-subject" placeholder="{{ 'MAIL_SUBJECT' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="mail.mailSubject" #mailSubject="ngModel" name="mailSubject" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="mailSubject.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="mailSubject.valid" [hidden]="mailSubject.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <label for="email-text" class="clr-control-label clr-col-12 clr-col-md-12">{{ 'MAIL_TEXT' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-12"
               [class.clr-error]="mailText.invalid && mailText.touched">
            <div class="clr-textarea-wrapper">
              <textarea clrTextarea id="email-text" placeholder="{{ 'MAIL_TEXT' | translate }}" class="clr-textarea send-email-text" style="width: 99%;"
                        [(ngModel)]="mail.mailText" #mailText="ngModel" name="mailText" required></textarea>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="mailText.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="mailText.valid" [hidden]="mailText.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showMailWindow = false;">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="showMailWindow = false; sendMailToUser();">{{ 'SEND_EMAIL' | translate }}</button>
    </div>
  </clr-modal>

  <!--Modal window with form for editing information about user-->
  <clr-modal [(clrModalOpen)]="showUser" [clrModalStaticBackdrop]="false" [clrModalSize]="'500'">
    <h3 class="modal-title">{{ 'ADD_USER_HELP' | translate }}</h3>
    <div class="modal-body">
      <form class="clr-form clr-form-horizontal editUserForm" #editUserForm="ngForm" autocomplete="off">
        <div class="clr-form-control clr-row">

          <!--User first name field-->
          <label for="first-name" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'FIRST_NAME' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="userName.invalid && userName.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="first-name" placeholder="{{ 'FIRST_NAME' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="selectedUser.userName" #userName="ngModel" name="userName" minlength="3" maxlength="20"
                     pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="userName.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="userName.valid" [hidden]="userName.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--User last name field-->
          <label for="last-name" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'LAST_NAME' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="lastName.invalid && lastName.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="last-name" placeholder="{{ 'LAST_NAME' | translate }}" class="clr-input"
                     [(ngModel)]="selectedUser.lastName" #lastName="ngModel" name="lastName" minlength="3" maxlength="20"
                     pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="lastName.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="lastName.valid" [hidden]="lastName.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--User role field-->
          <label class="clr-control-label clr-col-12 clr-col-md-2">{{ 'ROLE' | translate }}</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10 clr-control-inline">
            <div class="clr-checkbox-wrapper" *ngFor="let role of roles">
              <input type="radio" id="{{role.role}}" name="checkbox-error" value="{{role.role}}" clrRadio [(ngModel)]="selectedRoles">
              <label for="{{role.role}}" class="clr-control-label">{{role.role}}</label>
            </div>
            <div class="clr-subtext-wrapper">
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              <span class="clr-subtext">{{ 'INCORRECT' | translate }}</span>
            </div>
          </div>

          <!--User activity field-->
          <label for="is-active" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'IS_ACTIVE' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="isActive.invalid && isActive.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="is-active" placeholder="{{ 'IS_ACTIVE' | translate }}" class="clr-input"
                     [(ngModel)]="selectedUser.isActive"
                     #isActive="ngModel" name="isActive" pattern="^(?:[0-1])$" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="isActive.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="isActive.valid" [hidden]="isActive.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--User country field-->
          <label for="user-country" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'COUNTRY' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="country.invalid && country.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="user-country" placeholder="{{ 'COUNTRY' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="selectedUser.country" #country="ngModel" name="country" minlength="3" maxlength="20"
                     pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="country.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="country.valid" [hidden]="country.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--User city field-->
          <label for="user-city" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'CITY' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="city.invalid && city.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="user-city" placeholder="{{ 'CITY' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="selectedUser.city" #city="ngModel" name="city" minlength="3" maxlength="20"
                     pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="city.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="city.valid"
                  [hidden]="city.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--&lt;!&ndash;User date of birth field&ndash;&gt;-->
          <!--<label for="user-date-of-birth" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'DATE_OF_BIRTH' | translate }}</label>-->
          <!--<div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"-->
               <!--[class.clr-error]="dateOfBirth.invalid && dateOfBirth.touched">-->
            <!--<div class="clr-date-container">-->
              <!--<input type="date" id="user-date-of-birth" clrDate placeholder="{{ 'DATE_OF_BIRTH' | translate }}" class="clr-input" style="width: 99%;"-->
                     <!--[(ngModel)]="selectedUser.dateOfBirth" #dateOfBirth="ngModel" name="dateOfBirth" minlength="3"-->
                     <!--maxlength="20"/>-->
              <!--<clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="dateOfBirth.valid"></clr-icon>-->
            <!--</div>-->
            <!--<span class="clr-subtext" [class.wrongDataMessage]="dateOfBirth.valid" [hidden]="dateOfBirth.untouched">{{ 'INCORRECT' | translate }}</span>-->
          <!--</div>-->

          <!--User gender field-->
          <label for="select-error" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'GENDER' | translate }} *</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="gender.invalid && gender.touched">
            <div class="clr-select-wrapper">
              <select id="select-error" class="clr-select" style="width: 99%;" [(ngModel)]="selectedUser.gender"
                      #gender="ngModel" name="gender" required>
                <option value="Male">{{ 'MALE' | translate }}</option>
                <option value="Female">{{ 'FEMALE' | translate }}</option>
              </select>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="gender.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="gender.valid"
                  [hidden]="gender.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--User avatar field-->
          <label for="user-avatar" class="clr-control-label clr-col-12 clr-col-md-2">{{ 'AVATAR' | translate }}</label>
          <div class="clr-control-container user-data-field clr-col-12 clr-col-md-10"
               [class.clr-error]="avatar.invalid && avatar.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="user-avatar" placeholder="{{ 'AVATAR' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="selectedUser.avatar" #avatar="ngModel" name="avatar" minlength="3" maxlength="20"/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="avatar.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="avatar.valid"
                  [hidden]="avatar.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showUser = false;">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="showUser = false; modifyUser();"
              [disabled]="editUserForm.invalid">{{ 'OK' | translate }}
      </button>
    </div>
  </clr-modal>

  <!--Modal window with form for editing information about article-->
  <clr-modal [(clrModalOpen)]="showArticle" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title">{{ 'ADD_NEWS_HELP' | translate }}</h3>
    <div class="modal-body">
      <form class="clr-form clr-form-horizontal editArticleForm" #editArticleForm="ngForm" autocomplete="off">
        <div class="clr-form-control clr-row">

          <!--News title field-->
          <label for="article-title" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'NEWS_TITLE' | translate }} *</label>
          <div class="clr-control-container news-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="newsTitle.invalid && newsTitle.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="article-title" placeholder="{{ 'NEWS_TITLE' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="selectedArticle.newsTitle" #newsTitle="ngModel" name="newsTitle" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="newsTitle.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="newsTitle.valid" [hidden]="newsTitle.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--News annotation field-->
          <label for="article-annotation" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'ANNOTATION' | translate }} *</label>
          <div class="clr-control-container news-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="subText.invalid && subText.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="article-annotation" placeholder="{{ 'ANNOTATION' | translate }}" class="clr-input"
                     [(ngModel)]="selectedArticle.newsSubText" #subText="ngModel" name="subText" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="subText.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="subText.valid" [hidden]="subText.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--News source field-->
          <label for="article-source" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'SOURCE_AUTHOR' | translate }} *</label>
          <div class="clr-control-container news-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="articleSource.invalid && articleSource.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="article-source" placeholder="{{ 'SOURCE_AUTHOR' | translate }}" class="clr-input"
                     [(ngModel)]="selectedArticle.newsSource" #articleSource="ngModel" name="articleSource" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="articleSource.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="articleSource.valid" [hidden]="articleSource.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--News language field-->
          <label for="article-language" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'LANGUAGE' | translate }} *</label>
          <div class="clr-control-container news-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="articleLanguage.invalid && articleLanguage.touched">
            <div class="clr-select-wrapper">
              <select id="article-language" class="clr-select" style="width: 99%;" [(ngModel)]="selectedArticle.language"
                      #articleLanguage="ngModel" name="articleLanguage" required>
                <option value="en">{{ 'ENGLISH' | translate }}</option>
                <option value="pl">{{ 'POLISH' | translate }}</option>
              </select>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="articleLanguage.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="articleLanguage.valid" [hidden]="articleLanguage.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--News image field-->
          <label for="article-image" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'IMAGE' | translate }}</label>
          <div class="clr-control-container news-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="articleImage.invalid && articleImage.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="article-image" placeholder="{{ 'IMAGE' | translate }}" class="clr-input"
                     [(ngModel)]="selectedArticle.newsImage" #articleImage="ngModel" name="articleImage"/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="articleImage.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="articleImage.valid" [hidden]="articleImage.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--News main text field-->
          <label for="article-main-text" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'ARTICLE_MAIN_TEXT' | translate }} *</label>
          <div class="clr-control-container news-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="newsText.invalid && newsText.touched">
            <quill-editor id="article-main-text" placeholder="{{ 'ARTICLE_MAIN_TEXT' | translate }}"
                          [(ngModel)]="selectedArticle.newsText" #newsText="ngModel" name="newsText" [ngStyle]="quillEditorStyle"
                          required></quill-editor>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="newsText.valid"></clr-icon>
            <span class="clr-subtext" [class.wrongDataMessage]="newsText.valid" [hidden]="newsText.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showArticle = false;">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="showArticle = false; addNewArticle();"
              [disabled]="editArticleForm.invalid">{{ 'OK' | translate }}
      </button>
    </div>
  </clr-modal>

  <!--Modal window with form for editing information about product-->
  <clr-modal [(clrModalOpen)]="showProducts" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title">{{ 'ADD_PRODUCT_HELP' | translate }}</h3>
    <div class="modal-body">
      <form class="clr-form clr-form-horizontal editProductForm" #editProductForm="ngForm" autocomplete="off">
        <div class="clr-form-control clr-row">

          <!--Product name field-->
          <label for="product-name" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'PRODUCT_NAME' | translate }} *</label>
          <div class="clr-control-container product-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="productName.invalid && productName.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="product-name" placeholder="{{ 'PRODUCT_NAME' | translate }}" class="clr-input" style="width: 99%;"
                     [(ngModel)]="selectedProduct.productName" #productName="ngModel" name="productName" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="productName.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="productName.valid" [hidden]="productName.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--Product type field-->
          <label for="product-type" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'TYPE' | translate }} *</label>
          <div class="clr-control-container product-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="productType.invalid && productType.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="product-type" placeholder="{{ 'TYPE' | translate }}" class="clr-input"
                     [(ngModel)]="selectedProduct.productType" #productType="ngModel" name="productType" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="productType.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="productType.valid" [hidden]="productType.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--Product price field-->
          <label for="product-price" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'PRICE' | translate }} *</label>
          <div class="clr-control-container product-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="price.invalid && price.touched">
            <div class="clr-input-wrapper">
              <input type="number" id="product-price" placeholder="{{ 'PRICE' | translate }}" class="clr-input"
                     [(ngModel)]="selectedProduct.price" #price="ngModel" name="price" required/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="price.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="price.valid"
                  [hidden]="price.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--Product language field-->
          <label for="product-language" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'LANGUAGE' | translate }} *</label>
          <div class="clr-control-container product-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="productLanguage.invalid && productLanguage.touched">
            <div class="clr-select-wrapper">
              <select id="product-language" class="clr-select" style="width: 99%;" [(ngModel)]="selectedProduct.language"
                      #productLanguage="ngModel" name="productLanguage" required>
                <option value="en">{{ 'ENGLISH' | translate }}</option>
                <option value="pl">{{ 'POLISH' | translate }}</option>
              </select>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="productLanguage.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="productLanguage.valid" [hidden]="productLanguage.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--Product image field-->
          <label for="product-image" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'IMAGE' | translate }}</label>
          <div class="clr-control-container product-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="productImage.invalid && productImage.touched">
            <div class="clr-input-wrapper">
              <input type="text" id="product-image" placeholder="{{ 'IMAGE' | translate }}" class="clr-input"
                     [(ngModel)]="selectedProduct.image" #productImage="ngModel" name="productImage"/>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="productImage.valid"></clr-icon>
            </div>
            <span class="clr-subtext" [class.wrongDataMessage]="productImage.valid" [hidden]="productImage.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

          <!--Product main text field-->
          <label for="product-description" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'PRODUCT_DESCRIPTION' | translate }}
            *</label>
          <div class="clr-control-container product-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="description.invalid && description.touched">
            <quill-editor id="product-description" placeholder="{{ 'PRODUCT_DESCRIPTION' | translate }}"
                          [(ngModel)]="selectedProduct.description" #description="ngModel" name="description" [ngStyle]="quillEditorStyle"
                          required></quill-editor>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="description.valid"></clr-icon>
            <span class="clr-subtext" [class.wrongDataMessage]="description.valid" [hidden]="description.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showProducts = false;">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="showProducts = false; addNewProduct();"
              [disabled]="editProductForm.invalid">{{ 'OK' | translate }}
      </button>
    </div>
  </clr-modal>

  <!--Modal window with form for editing contact information-->
  <clr-modal [(clrModalOpen)]="showInfo" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title">{{ 'ADD_PRODUCT_HELP' | translate }}</h3>
    <div class="modal-body">
      <form class="clr-form clr-form-horizontal editInfoForm" #editInfoForm="ngForm" autocomplete="off">
        <div class="clr-form-control clr-row">

          <!--Information field-->
          <label for="contact_info" class="clr-control-label clr-col-12 clr-col-md-1">{{ 'ABOUT' | translate }} *</label>
          <div class="clr-control-container info-data-field clr-col-12 clr-col-md-11"
               [class.clr-error]="contactInfo.invalid && contactInfo.touched">
            <quill-editor id="contact_info" placeholder="{{ 'ABOUT' | translate }}" style="width: 99%;" [ngStyle]="quillEditorStyle"
                          [(ngModel)]="selectedInfo.contactInfo" #contactInfo="ngModel" name="contactInfo" required>
            </quill-editor>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle" [hidden]="contactInfo.valid"></clr-icon>
            <span class="clr-subtext" [class.wrongDataMessage]="contactInfo.valid" [hidden]="contactInfo.untouched">{{ 'INCORRECT' | translate }}</span>
          </div>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showInfo = false;">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="showInfo = false; modifyInfo();"
              [disabled]="editInfoForm.invalid">{{ 'OK' | translate }}
      </button>
    </div>
  </clr-modal>

</div>
