$warningColor: #fac400;

.admin-tools
{
  text-align: right;
  .admin-delete,
  .admin-ban,
  .admin-message
  {
    margin-left: 15px;
    cursor: pointer;
  }
  .admin-modify
  {
    margin-left: 5px;
    cursor: pointer;
  }
  clr-icon:hover
  {
    color: #0079b8;
  }
}

.selected-user
{
  color: $warningColor;
  font-weight: bold;
}
.clr-input
{
  width: 99%;
}
.wrongDataMessage
{
  visibility: hidden;
}
.newsTitle
{
  font-weight: bold;
}
.add-article-btn
{
  margin: 12px 0 0 12px;
}
