$warningColor: #fac400;

.admin-tools-for-user
{
  text-align: right;
  .admin-delete-user,
  .admin-modify-user
  {
    margin-left: 10px;
    cursor: pointer;
  }
}

.selected-user
{
  color: $warningColor;
  font-weight: bold;
}
.clr-input
{
  width: 99%;
}
.wrongDataMessage
{
  visibility: hidden;
}
