$siteColor: #314351;
$darkSiteColor: #222d36;
$backgroundColor: #dddddd;

.footer
{
  width: 1200px;
  margin: 0 auto;
  //border: 1px solid transparent;
  //border: 3px solid $backgroundColor;
  background-color: $siteColor;
  //padding: 15px;
  //display: flex;
  //flex-direction: row;
  //align-content: center;
  //align-items: center;
  //justify-content: space-between;
  .footer-nav-box
  {
    padding: 5px;
    background-color: $darkSiteColor;
    .footer-nav
    {
      //margin: 0;
      //padding: 0;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      justify-content: space-evenly;
      list-style: none;
      li
      {
        margin: 0;
        padding: 0;
        //background-color: #037a00;
        display: inline-block;
        a
        {
          color: #ffffff;
        }
      }
    }
  }
  .footer-logo-box
  {
    padding: 5px;
    background-color: $siteColor;
    //border-top: 3px solid #444444;
    text-align: center;
    color: #ffffff;
    span
    {
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 1220px)
{
  .footer
  {
    width: 1000px;
  }
}
@media screen and (max-width: 1020px)
{
  .footer
  {
    width: 800px;
  }
}
@media screen and (max-width: 820px)
{
  .footer
  {
    width: 100%;
  }
}
