<footer class="footer">
  <div class="footer-nav-box">
    <ul class="footer-nav">
      <li><a routerLink="/">{{ 'HOME' | translate }}</a></li>
      <li><a routerLink="/news">{{ 'NEWS' | translate }}</a></li>
      <li><a routerLink="/products">{{ 'PRODUCTS' | translate }}</a></li>
      <li><a routerLink="/about">{{ 'ABOUT' | translate }}</a></li>
    </ul>
  </div>
  <div class="footer-logo-box">
    <span>Coffee Products</span><br>
    <clr-icon shape="image" style="width: 100px; height: 100px;"></clr-icon>
  </div>
</footer>
