$siteColor: #314351;

.footer
{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid transparent;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background-color: $siteColor;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  .footer-nav-box
  {
    .footer-nav
    {
      list-style: none;
      li > a
      {
        color: #ffffff;
      }
    }
  }
  .footer-logo-box
  {
    text-align: center;
    color: #ffffff;
    span
    {
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 1220px)
{
  .footer
  {
    width: 1000px;
  }
}
@media screen and (max-width: 1020px)
{
  .footer
  {
    width: 800px;
  }
}
@media screen and (max-width: 820px)
{
  .footer
  {
    width: 100%;
  }
}
