.footer
{
  width: 100%;
  border: 1px solid transparent;
  background-color: #314351;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  .footer-nav-box
  {
    .footer-nav
    {
      list-style: none;
      li > a
      {
        color: #ffffff;
      }
    }
  }
  .footer-logo-box
  {
    text-align: center;
    color: #ffffff;
    span
    {
      font-size: 22px;
    }
  }
}
