.login-wrapper
{
  min-height: calc(100vh - 60px) !important;
  background-image: url('/assets/images/login-page.jpg');
  background-size: auto 100%;
}
.login
{
  min-height: calc(100vh - 60px) !important;
}
