<div class="login-wrapper login-wrapper-own-styles">
  <form class="login login-own-styles" #userRegistrationForm="ngForm" autocomplete="off">
    <section class="title">
      <h4 class="registrationTitle">{{ 'REGISTRATION_HELP' | translate }}</h4>
    </section>
    <div class="login-group login-group-own-styles">

      <clr-input-container>
        <input type="text" class="userName" clrInput placeholder="{{ 'FIRST_NAME' | translate }} *"
               [(ngModel)]="newUser.userName" #firstName="ngModel" name="firstName" minlength="3" maxlength="20"
               pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
      </clr-input-container>

      <clr-input-container>
        <input type="text" class="userName" clrInput placeholder="{{ 'LAST_NAME' | translate }} *"
               [(ngModel)]="newUser.lastName" #lastName="ngModel" name="lastName" minlength="3" maxlength="20"
               pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
      </clr-input-container>

      <clr-input-container>
        <input type="text" class="userName" clrInput placeholder="{{ 'EMAIL' | translate }} *" [(ngModel)]="newUser.email"
               #email="ngModel" name="email"
               pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" required/>
      </clr-input-container>

      <span class="code-button" (click)="checkUserEmail();">Get Verification Code</span>
      <span class="email-code-help">This code is required to verify that the email is real. We will send you the code by email.</span>

      <clr-input-container>
        <input type="number" class="userName" [(ngModel)]="eCode" #emailCode="ngModel" name="emailCode" clrInput
               placeholder="Email Verification Code *" (keyup)="checkCode($event);" required/>
      </clr-input-container>

      <clr-input-container>
        <input type="text" class="userName" clrInput placeholder="Country *"
               [(ngModel)]="newUser.country" #country="ngModel" name="country" minlength="3" maxlength="20"
               pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
      </clr-input-container>

      <clr-input-container>
        <input type="text" class="userName" clrInput placeholder="City *"
               [(ngModel)]="newUser.city" #city="ngModel" name="city" minlength="3" maxlength="20"
               pattern="[A-ZĄĆĘŁŃÓŚŹŻ]([A-ZĄĆĘŁŃÓŚŹŻ]*[a-ząćęłńóśźż]*[\' -]?)+" required/>
      </clr-input-container>

      <clr-select-container>
        <select clrSelect [(ngModel)]="newUser.gender" #gender="ngModel" name="gender" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </clr-select-container>

      <clr-password-container>
        <input type="password" class="userPass" id="userPass" clrPassword placeholder="{{ 'PASSWORD' | translate }} *"
               [(ngModel)]="newUser.password" #password="ngModel" name="password" required/>
      </clr-password-container>

      <clr-password-container>
        <input type="password" class="userPassRepeat" clrPassword placeholder="{{ 'PASSWORD_REPEAT' | translate }} *"
               [(ngModel)]="repeatPassword" #repeatPass="ngModel" name="repeatPass" (keyup)="checkPass($event);" required/>
      </clr-password-container>

      <div class="error error-message" [class.active]="userRegistrationForm.invalid || !isCorrectCode || !isCorrectPass">
        Invalid entered data or empty field.<br>Please, start your first name, last name, country and city with capital letter.
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="userRegistrationForm.invalid || !isCorrectCode || !isCorrectPass"
              (click)="addNewUser();">{{'REGISTER' | translate }}
      </button>
    </div>
  </form>
</div>
