<header class="header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="bundle"></clr-icon>
      <span class="title">Coffee Products</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/" class="nav-link nav-text">Home</a>
    <a routerLink="/news" class="active nav-link nav-text">News</a>
    <a routerLink="/products" class="nav-link nav-text">Products</a>
    <a routerLink="/about" class="nav-link nav-text">About</a>
  </div>
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder=" Search for keywords...">
    </label>
  </form>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>About</a>
        <a href="..." clrDropdownItem>Preferences</a>
        <a href="..." clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>About</a>
        <a href="..." clrDropdownItem>Preferences</a>
        <a href="..." clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>

<router-outlet></router-outlet>
