<header class="header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="bundle"></clr-icon>
      <span class="title">{{ 'TITLE' | translate }}</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/" class="nav-link nav-text">{{ 'HOME' | translate }}</a>
    <a routerLink="/news" class="active nav-link nav-text">{{ 'NEWS' | translate }}</a>
    <a routerLink="/products" class="nav-link nav-text">{{ 'PRODUCTS' | translate }}</a>
    <a routerLink="/about" class="nav-link nav-text">{{ 'ABOUT' | translate }}</a>
  </div>
  <div class="header-actions">
    <span (click)="setLanguage('en')" class="nav-link nav-text langSwitch">EN</span>
    <!--<span (click)="setLanguage('ua')" class="nav-link nav-text langSwitch langSwitchUA">UA</span>-->
    <span (click)="setLanguage('pl')" class="nav-link nav-text langSwitch">PL</span>
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>{{ 'ABOUT_USER' | translate }}</a>
        <a href="..." clrDropdownItem>{{ 'PREFERENCES' | translate }}</a>
        <a href="..." clrDropdownItem>{{ 'LOG_OUT' | translate }}</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <a href="..." class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>

<router-outlet></router-outlet>
