<clr-main-container class="clr-main-container">
  <clr-header class="header-1 header-navigation">
    <div class="branding">
      <a routerLink="/" class="nav-link" (click)="activeNavLink('home')">
        <clr-icon shape="image" class="is-solid"></clr-icon>
        <span class="title">{{ 'TITLE' | translate }}</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/" class="nav-link nav-text" (click)="activeNavLink('home')"
         [ngClass]="{'isActive': navLinkTitle == 'home'}">{{ 'HOME' | translate }}</a>
      <a routerLink="/news" class="active nav-link nav-text" (click)="activeNavLink('news')"
         [ngClass]="{'isActive': navLinkTitle == 'news'}">{{ 'NEWS' | translate }}</a>
      <a routerLink="/products" class="nav-link nav-text" (click)="activeNavLink('products')"
         [ngClass]="{'isActive': navLinkTitle == 'products'}">{{ 'PRODUCTS' | translate }}</a>
      <a routerLink="/about" class="nav-link nav-text" (click)="activeNavLink('about')"
         [ngClass]="{'isActive': navLinkTitle == 'about'}">{{ 'ABOUT' | translate }}</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="language"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right" class="langSelector">
          <span clrDropdownItem (click)="setLanguage('en')" class="langSwitch">{{ 'ENGLISH' | translate }}</span>
          <!--<span (click)="setLanguage('ua')" class="nav-link nav-text langSwitch langSwitchUA">{{ 'UKRAINIAN' | translate}}</span>-->
          <span clrDropdownItem (click)="setLanguage('pl')" class="langSwitch">{{ 'POLISH' | translate}}</span>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right" class="userTools">
          <a routerLink="/registration" clrDropdownItem>{{ 'REGISTRATION' | translate }}</a>
          <a routerLink="/login" clrDropdownItem>{{ 'LOG_IN' | translate }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <a class="nav-link nav-icon" (click)="basic = true">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>
  <router-outlet></router-outlet>
</clr-main-container>
<clr-modal [(clrModalOpen)]="basic">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
  </div>
</clr-modal>
