<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">{{ 'LOGIN_WELCOME' | translate }}</h3>
      {{ 'LOGIN_TITLE' | translate }}
      <h5 class="hint">{{ 'LOGIN_HELP' | translate }}</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input type="text" name="username" class="userName" clrInput placeholder="{{ 'USERNAME' | translate }}" autocomplete="off"/>
      </clr-input-container>
      <clr-password-container>
        <input type="password" name="password" class="userPass" clrPassword placeholder="{{ 'PASSWORD' | translate }}"/>
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>{{ 'REMEMBER_ME' | translate }}</label>
        <input type="checkbox" name="rememberMe" clrCheckbox/>
      </clr-checkbox-wrapper>
      <div class="error error-message">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary">{{ 'LOG_IN' | translate }}</button>
      <a routerLink="/registration" class="signup">{{ 'REGISTER' | translate }}</a>
    </div>
  </form>
</div>
