.error-message
{
  display: none;
}
.login-wrapper
{
  min-height: calc(100vh - 60px) !important;
}
.login
{
  min-height: calc(100vh - 60px) !important;
}
.userName,
.userPass
{
  //font-size: 14px;
}
