<div class="login-wrapper login-wrapper-own-styles">
  <form class="login login-own-styles">
    <section class="title">
      <h3 class="welcome">{{ 'LOGIN_WELCOME' | translate }}</h3>
      [TITLE]
      <h5 class="hint">{{ 'LOGIN_HELP' | translate }}</h5>
    </section>
    <div class="login-group login-group-own-styles" (keyup.enter)="checkLogin();">
      <clr-input-container>
        <input type="text" name="username" class="userName" [(ngModel)]="username" clrInput placeholder="{{ 'USERNAME' | translate }}" autocomplete="off"/>
      </clr-input-container>
      <clr-password-container>
        <input type="password" name="password" class="userPass" [(ngModel)]="password"  clrPassword placeholder="{{ 'PASSWORD' | translate }}"/>
      </clr-password-container>
      <div class="error error-message">
        Invalid user userName or password
      </div>
      <button type="button" class="btn btn-primary" (click)="checkLogin();">{{ 'LOG_IN' | translate }}</button>
      <a routerLink="/registration" class="signup">{{ 'SIGN_UP' | translate }}</a>
      <div class="ghost"></div>
    </div>
  </form>
</div>
