.error-message
{
  display: none;
}
.login-wrapper-own-styles
{
  height: 100vh;
  display: block;
  background-image: url('/assets/images/background.jpg');
  background-size: 100% 100%;
  overflow: auto;
}
.login-own-styles
{
  //height: 100vh;
  //display: block;
  //overflow: auto;
}
.login-group-own-styles
{
  //height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.userName,
.userPass
{
  //font-size: 14px;
}
::ng-deep app-footer
{
  display: none;
}
.ghost
{
  height: 100px;
  border: 1px solid transparent;
}
