.news-container
{
  width: 75%;
  margin: 0 auto 10px;
  padding: 5px;
  background-color: transparent;
  //border: 1px solid #9aa8e2;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.card
{
  display: block;
  margin: 5px;
  width: calc(33.33333% - 10px);
}
