<div class="scroll-container">
  <div class="article-page-container">
    <div class="article-box" id="articleBox">
      <div class="link-guide">
        <a routerLink="/news" class="link-guide-item">News</a>
        <clr-icon shape="circle-arrow" class="guide-arrow" size="18"></clr-icon>
        <span class="link-guide-item link-guide-item-disabled">Article</span>
        <clr-icon shape="circle-arrow" class="guide-arrow" size="18"></clr-icon>
        <span class="link-guide-item link-guide-item-disabled">{{selectedArticle?.newsTitle}}</span>
      </div>
      <div class="article-image-box">
        <img src="assets/images/nature33hd.jpg" class="article-image">
        <div class="gray-box">
          <div class="article-info">
            <div class="article-modification-date">
              <span class="smallInfoBox">Date:</span>
              <span *ngIf="selectedArticle?.newsModificationDate" class="smallDataBox">
                {{selectedArticle?.newsModificationDate | date: 'medium'}}
              </span>
              <span *ngIf="!selectedArticle?.newsModificationDate" class="smallDataBox">
                {{selectedArticle?.newsDate | date: 'medium'}}
              </span>
            </div>
            <div class="article-title">{{selectedArticle?.newsTitle}}</div>
            <div class="article-source"><span class="smallInfoBox">Source/Author:</span><span class="smallDataBox">{{selectedArticle?.newsSource}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="article-text-box">
        <div class="article-annotation">{{selectedArticle?.newsSubText}}</div>
        <div class="article-text" [innerHtml]="selectedArticle?.newsText"></div>
      </div>
      <div class="article-comment-box">
        <div class="comments-header">Comments</div>
        <form>
          <label for="commentText">Your Comment</label>
          <textarea id="commentText" rows="8" required></textarea>
          <button class="btn btn-primary">Comment</button>
        </form>
      </div>
      <div class="article-comments">
        <div>Test comment</div>
        <div>Another test comment</div>
      </div>
    </div>
    <div class="products-on-article-page">
      <div class="products-header">Our Products</div>
      <div class="scrollbarBox">
        <a *ngFor="let product of products" [routerLink]="'/products'" class="product-link">
          <div class="product-img">
            <img *ngIf="product.image" src="{{product.image}}" class="productImage"/>
            <img *ngIf="!product.image" src="assets/images/login-page.jpg" class="productImage"/>
          </div>
          <div class="product-info-box">
            <clr-icon shape="arrow" class="product-arrow" size="24"></clr-icon>
            <clr-icon shape="bundle" size="24" class="product-logo"></clr-icon>
            <span class="product-title">{{product.productName}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="other-news">
    <div class="other-news-header">More news</div>
    <a *ngFor="let record of news | paginate: { itemsPerPage: 10, currentPage: p }"
       [routerLink]="['/article', record.id]" [ngx-scroll-to-offset]="-70" [ngx-scroll-to]="'#articleBox'"
       class="other-news-link-box" title="{{record.newsTitle}}">
      <div class="other-news-box">
        <div class="other-news-icon">
          <clr-icon shape="details" size="40"></clr-icon>
        </div>
        <div class="other-news-title">
          {{record.newsTitle}}
        </div>
        <div class="other-news-arrow-icon">
          <clr-icon shape="angle" size="40" class="angle-icon"></clr-icon>
        </div>
      </div>
    </a>
    <pagination-controls class="otherNewsPagination" [directionLinks]="false" [maxSize]="7" [responsive]="false"
                         previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
  </div>
  <app-footer></app-footer>
</div>
