.article-image-box
{
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  .article-image
  {
    width: 100%;
    height: calc(100vh - 60px);
  }
  .gray-box
  {
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    .article-info
    {
      width: calc(100% - 25px);
      color: #ffffff;
      position: absolute;
      left: 25px;
      bottom: 0;
      line-height: 50px;
      .article-title
      {
        padding-right: 25px;
        font-weight: bold;
        font-size: 50px;
      }
      .article-source
      {
        float: right;
        padding-right: 10px;
      }
    }
  }
}
.article-text-box
{
  margin: 0 25px 25px 25px;
  text-align: justify;
  .article-annotation
  {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
  }
  ::ng-deep .article-text > p
  {
    font-size: 18px;
  }
}
