<div class="article-box">
  <div class="article-image-box">
    <img src="assets/nature33hd.jpg" class="article-image">
    <div class="gray-box">
      <div class="article-info">
        <div class="article-title">{{selectedArticle?.newsTitle}}</div>
        <div class="article-source">Source: {{selectedArticle?.newsSource}}</div>
      </div>
    </div>
  </div>
  <div class="article-text-box">
    <p class="article-annotation">{{selectedArticle?.newsSubText}}</p>
    <div class="article-text" [innerHtml]="selectedArticle?.newsText"></div>
  </div>
</div>
