.article-box
{
  width: 100%;
}
.article-image-box
{
  width: 1200px;
  margin: 10px auto;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  //height: calc(100vh - 60px);
  position: relative;
  .article-image
  {
    width: 100%;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    //height: calc(100vh - 60px);
  }
  .gray-box
  {
    width: 100%;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    //height: calc(100vh - 60px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    .article-info
    {
      width: 100%;
      color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
      line-height: 50px;
      background-color: rgba(0, 0, 0, .5);
      //border-top: 4px solid rgba(0, 0, 0, .1);
      .article-date
      {
        width: 50%;
        float: left;
        padding-left: 10px;
      }
      .article-modification-date
      {
        width: 50%;
        float: right;
        text-align: right;
        padding-right: 10px;
      }
      .article-title
      {
        padding-right: 10px;
        padding-left: 10px;
        font-weight: bold;
        font-size: 50px;
      }
      .article-source
      {
        float: right;
        padding-right: 10px;
      }
    }
  }
}
.article-text-box
{
  width: 1200px;
  margin: 0 auto 10px;
  text-align: justify;
  padding: 20px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  .article-annotation
  {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
  }
  ::ng-deep .article-text > p
  {
    font-size: 18px;
  }
}
.other-news
{
  width: 1200px;
  padding: 20px;
  margin: 0 auto 10px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  .other-news-header
  {
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 2px solid #314351;
    padding-bottom: 5px;
    padding-left: 2px;
    font-size: 25px;
  }
  .other-news-link-box
  {
    background-color: #dddddd;
    display: inline-block;
    margin: 0 2px 4px 2px;
    color: #000000;
    text-decoration: none;
    .other-news-box
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      .other-news-icon
      {
        width: calc(48px + 5px);
        height: calc(48px + 5px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px 0 0;
        background-color: #314351;
        color: #dddddd;
      }
      .other-news-title
      {
        font-size: 16px;
        width: calc(100% - 61px - 10px - 1em);
        overflow: hidden;
        position: relative;
        line-height: 24px;
        max-height: calc(48px + 5px);
        padding: 5px 1em 5px 0;
        vertical-align: middle;
      }
      .other-news-title:before
      {
        content: '...';
        position: absolute;
        right: 5px;
        bottom: 0;
      }
      .other-news-title:after
      {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.5em;
        background-color: #dddddd;
      }
      .other-news-arrow-icon
      {
        width: calc(24px + 5px);
        height: calc(48px + 5px);
        display: flex;
        align-items: center;
        justify-content: center;
        .angle-icon
        {
          transform: rotate(90deg);
        }
      }
    }
  }
  .other-news-box:hover
  {
    .other-news-icon
    {
      background-color: #dddddd;
      color: #ff0000;
    }
    .other-news-arrow-icon
    {
      -webkit-transition: all ease-in-out .5s;
      -moz-transition: all ease-in-out .5s;
      -o-transition: all ease-in-out .5s;
      transition: all ease-in-out .5s;
      transform: rotate(540deg);
    }
  }
}
.other-news-link-box
{
  width: calc(20% - 4px);
}
@media screen and (max-width: 1220px)
{
  .article-text-box,
  .article-image-box,
  .other-news
  {
    width: 1000px;
  }
  .other-news-link-box
  {
    width: calc(25% - 4px);
  }
}
@media screen and (max-width: 1020px)
{
  .article-text-box,
  .article-image-box,
  .other-news
  {
    width: 800px;
  }
  .other-news-link-box
  {
    width: calc(33% - 4px);
  }
}
@media screen and (max-width: 820px)
{
  .article-text-box,
  .article-image-box,
  .other-news
  {
    width: 100%;
  }
}
@media screen and (max-width: 800px)
{
  .article-image-box,
  .article-image,
  .gray-box
  {
    height: calc(100vh - 60px);
  }
  .other-news-link-box
  {
    width: calc(50% - 4px);
  }
}
@media screen and (max-width: 450px)
{
  .other-news-link-box
  {
    width: calc(100% - 4px);
  }
}

