<nav class="subnav" [clr-nav-level]="2">
  <ul class="nav">
    <li *ngFor="let product of products" class="nav-item">
      <a class="nav-link" [ngx-scroll-to-offset]="-106" [ngx-scroll-to]="product.productName" (click)="activeProduct(product.productName)" [ngClass] = "{'active': productsLink == product.productName}">{{product.productName}}</a>
    </li>
  </ul>
</nav>
<div class="products-container">
  <div *ngFor="let product of products" class="product-item product-item-4" id="{{product.productName}}">
    {{product.productName}}
  </div>
</div>
