.products-container
{
  width: 75%;
  margin: 10px auto 10px;
  background-color: transparent;
}
.subnav
{
  position: sticky;
  top: 60px;
}
.product-item
{
  width: 100%;
  height: calc(100vh - 106px);
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #22343c !important;
}
.nav-item
{
  cursor: pointer;
}
