<div class="scroll-container" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScrollDown();">
  <div class="news-page-container">
    <div class="news-container">
      <a class="news-card clickable" *ngFor="let article of postedNews" [routerLink]="['/article', article.id]">
        <div class="news-card-img" >
          <img *ngIf="!article.newsImage" src="assets/images/login-page.jpg" class="news-img">
          <img *ngIf="article.newsImage" src="{{article.newsImage}}" class="news-img">
          <div class="card-date">{{article.newsDate | date: 'medium'}}</div>
        </div>
        <div class="news-card-block">
          <div class="card-title">{{article.newsTitle}}</div>
          <div class="card-annotation">{{article.newsSubText}}</div>
          <div class="card-source">{{article.newsSource}}</div>
        </div>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<span class="spinner spinner-lg" [hidden]="!loadingSpinner">
    Loading...
</span>
