<div class="news-page-container">
  <div class="left-box">

  </div>
  <div class="news-container">
    <a class="card clickable" *ngFor="let article of news" [routerLink]="['/article', article.id]">
      <div class="card-img" >
        <img src="assets/images/login-page.jpg" class="news-img">
        <div class="card-date">{{article.newsDate | date: 'medium'}}</div>
        <div class="card-title">{{article.newsTitle}}</div>
      </div>
      <div class="card-block">
        <h6 class="card-title">{{article.newsSubText}}</h6>
      </div>
    </a>
  </div>
  <div class="right-box">

  </div>
</div>
<span class="spinner spinner-lg" [hidden]="!loadingSpinner">
    Loading...
</span>
