$textColor: #000000;
$alternateColor :#314351;
$backgroundColor: #dddddd;
$globalBackgroundColor: #edeef0;
$headerColor: #037a00;
.scroll-container
{
  width: 100%;
  height: calc(100vh - 60px);
  overflow: auto;
  background-image: url('/assets/images/background.jpg');
  //display: grid;
  //grid-template-rows: 60px auto 1fr;
  .news-page-container
  {
    width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    .news-container
    {
      width: 1200px;
      margin: 0 auto 20px;
      background-color: transparent;
      display: flex;
      flex-flow: row wrap;
      //margin-bottom: 20px;
      .news-card
      {
        display: flex;
        padding: 10px;
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
        width: 100%;
        margin: 20px 0 0 0;
        opacity: 0;
        text-decoration: none;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
        transition: all ease-in-out .2s;
        animation-name: appearing;
        animation-duration: 1s;
        animation-delay: .7s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        @keyframes appearing {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        .news-card-img
        {
          width: 25%;
          position: relative;
          .news-img
          {
            width: 100%;
          }
          .card-date
          {
            color: #ffffff;
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, .5);
            font-size: 14px;
          }
        }
        .news-card-block
        {
          width: 75%;
          margin-left: 10px;
          position: relative;
          .card-title
          {
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
            background-color: $alternateColor;
            margin-bottom: 20px;
          }
          .card-annotation
          {
            font-size: 16px;
            font-weight: bold;
            text-align: justify;
            color: $alternateColor;
            padding: 0 10px;
          }
          .card-source
          {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $headerColor;
            color: #ffffff;
            text-decoration: none;
            padding: 0 5px;
          }
        }
      }
      .news-card:hover
      {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
        transition: all ease-in-out .2s;
      }
    }
  }
}


.spinner
{
  display: block;
  margin: auto;
}

@media screen and (max-width: 1270px)
{
  .scroll-container
  {
    .news-page-container
    {
      width: 1050px;
      .news-container
      {
        width: 1000px;
      }
    }
  }
}
@media screen and (max-width: 1070px)
{
  .scroll-container
  {
    .news-page-container
    {
      width: 850px;
      .news-container
      {
        width: 800px;
        .news-card
        {
          .news-card-img
          {
          }
          .news-card-block
          {
            .card-title
            {
              font-size: 18px;
              line-height: 18px;
              margin-bottom: 0;
            }
            .card-annotation
            {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 870px)
{
  .scroll-container
  {
    .news-page-container
    {
      width: 100%;
      .news-container
      {
        width: 100%;
        .news-card
        {
          .news-card-img
          {
            width: 40%;
            .card-date
            {
              font-size: 12px;
            }
          }
          .news-card-block
          {
            width: 60%;
            .card-annotation
            {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px)
{
  .scroll-container
  {
    .news-page-container
    {
      .news-container
      {
        .news-card
        {
          .news-card-img
          {
            width: 50%;
            .card-date
            {
              font-size: 12px;
            }
            .card-title
            {
              font-size: 18px;
              line-height: 18px;
            }
          }
          .news-card-block
          {
            width: 50%;
            .card-annotation
            {
              font-size: 14px;
            }
            .card-source
            {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px)
{
  .scroll-container
  {
    .news-page-container
    {
      .news-container
      {
        .news-card
        {
          .news-card-img
          {
            .card-date
            {
              font-size: 12px;
            }
          }
          .news-card-block
          {
            .card-title
            {
              font-size: 16px;
              line-height: 16px;
            }
            .card-annotation
            {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px)
{
  .scroll-container
  {
    .news-page-container
    {
      .news-container
      {
        .news-card
        {
          display: block;
          .news-card-img
          {
            width: 100%;
            .card-date
            {
              font-size: 12px;
            }
          }
          .news-card-block
          {
            width: 100%;
            margin-left: 0;
            .card-title
            {
              font-size: 16px;
              line-height: 16px;
              margin-bottom: 0;
            }
            .card-annotation
            {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
