.news-container
{
  width: 1200px;
  margin: 0 auto 10px;
  padding: 5px;
  background-color: transparent;
  //border: 1px solid #9aa8e2;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.card
{
  display: block;
  margin: 5px;
  width: calc(20% - 10px);
}
.card-img
{
  position: relative;
  .card-date
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
  }
}
.spinner
{
  display: block;
  margin: auto;
}
@media screen and (max-width: 1250px)
{
  .news-container
  {
    width: 1000px;
  }
}
@media screen and (max-width: 1050px)
{
  .news-container
  {
    width: 800px;
  }
  .card
  {
    width: calc(25% - 10px);
  }
}
@media screen and (max-width: 850px)
{
  .news-container
  {
    width: 100%;
  }
}
@media screen and (max-width: 768px)
{
  .card
  {
    width: calc(33% - 10px);
  }
}
@media screen and (max-width: 600px)
{
  .card
  {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 450px)
{
  .card
  {
    width: calc(100% - 10px);
  }
}
