<div class="news-container">
  <a class="card clickable" *ngFor="let article of news" [routerLink]="['/article', article.id]">
    <div class="card-img" >
      <img src="assets/news.png">
    </div>
    <div class="card-block">
      <h4 class="card-title">{{article.newsTitle}}</h4>
      <h6 class="card-media-title">{{article.newsSubText}}</h6>
      <!--<p class="card-text">-->
        <!--{{article.newsText}}-->
      <!--</p>-->
    </div>
  </a>
</div>
<span class="spinner spinner-lg" [hidden]="!loadingSpinner">
    Loading...
</span>
